<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Welly</string>
	<key>CFBundleIdentifier</key>
	<string>org.net9.Welly</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Welly</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>abgK</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Telnet URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telnet</string>
				<string>bbs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>SSH URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>2.4 Release - Farewell Edition</string>
	<key>CFBundleVersion</key>
	<string>664</string>
	<key>CFBundleHelpBookFolder</key>
	<string>WellyHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Welly Help</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>YLApplication</string>
	<key>SUFeedURL</key>
	<string>http://welly.googlecode.com/svn/wiki/WellyUpdate.xml</string>
</dict>
</plist>
