<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title Format</key>
		<string>Search in Google</string>
		<key>URL Format</key>
		<string>http://www.google.com/search?q=%@</string>
	</dict>
</array>
</plist>
